* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style: none;
}
body{
    height: 100vh;
     background-color: #dbdbd2; 
}
body::before{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #009688;
    content: '';
}
.container {
    display: flex;
    border: 1px solid red;
}

.person {
    border: 1px solid blue;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;

}

.chat {
    border: 1px solid rgb(20, 112, 46);
    flex-basis: 65%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
}

.flex-profilo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color:#eaeaea ;

}

.avatar-img {
    border-radius: 99px;
    width: 60px;
}

.nomi {
    font-weight: 400;
}

.flex-pro {
    display: flex;
    align-items: center;

}

.icons {
    gap: 10px;
}

.ico {
    color: grey;

}

.ico-right {
    padding-right: 5px;
}

.last-login {
    color: rgb(138, 130, 130);
    font-size: 12px;
}

.name-left {
    padding-left: 5px;
}

.height {
    height: 100vh;
    padding: 10px 50px 10px 50px;

}

.container-chat {
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    background-size: contain;
    flex-grow: 1;
    overflow-y: scroll;

}

.message {
    flex-shrink: 0;
    background-color: #f3eeea;
}

.chat-prof {
    flex-shrink: 0;
}

.notification-icon {
    color: rgb(154, 224, 224);
    background-color: white;
    
    border: 10px solid white;
    border-radius: 9999px;
    font-size: 16px;

}

.notification {
    background-color: rgb(154, 224, 224);
    display: flex;
    padding: 5px;
}
.under-line{
    text-decoration: underline;
    color: rgb(87, 83, 83);

}
.flex{
    display: flex;
}

.research{
    display: flex;
    padding: 3px;
    
}
.search{
    padding: 3px 0px 3px 0px;
    margin-right: 0;
    flex-basis: 15%;
    color: grey;
    background-color: white;
    border: 1px solid rgb(149, 149, 149);
}
.text-research{
    flex-basis: 85%;
    padding: 4px 3px 4px 3px;
    border: 1px solid rgb(149, 149, 149);
    flex-grow: 1;
}
.chat-justify{
    display: flex;
    justify-content: space-between;
    padding: 3px 3px 3px 8px;
    background-color: #ffffff;
}
.last-messagge{
    padding: 3px;
    color: rgb(137, 133, 133);
    font-size: 12px;
}
.container-chat-close{
    border-bottom: 1px solid grey;
    
    

}
.container-chat-close:hover{
    background-color: rgb(204, 202, 202);
    
    

}
.container-scroll-chat{
    overflow-y: scroll;
    flex-grow: 1;
    background-color: #ffffff;
    
}
.ico-chat{
    color: grey;
    flex-basis: 8%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.message{
    display: flex;  
    padding: 4px 0px ;
    align-items: center;
}
.send-messagge{
    flex-basis: 84%;
    display: flex;
    padding: 4px;
}
.border-send{
    border:1px solid white;
    border-radius: 4px;
}
.flex-messagge{
     flex-basis: 45%; 
}
.send{
    flex-direction: row-reverse;
    padding-right:  35px;
    padding-top: 10px;
}
.received{
    flex-direction: row;
    padding-left: 35px;
    padding-top: 10px;
}
.background-send{
    background-color:#d5f9ba ;
    padding: 10px;
    border: 1px solid #d5f9ba;
    border-radius: 6px;
    
}
.chat-open{
    padding-top:50px ;
}
.background-received{
    background-color:white ;
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
    
}
.hours{
    /* margin-bottom: -25px; */
    color: grey;
    font-size: 12px;
    flex-direction: row-reverse;
} 